{% extends 'cdashboard.html' %}
{% block ctitle %} Events {% endblock ctitle %}
{% block ccontent %}
{% load static %}

<header id="head">
    Activity
</header>

<style>
    .box-container {
        margin-top: 210px;
    }
        @media screen and (max-width: 375px) {

            /* iPhone SE */
            .box-container{
                margin-top: 42rem;
            }

        }

        @media screen and (max-width: 414px) {

            /* iPhone XR */
            .box-container{
                margin-top: 42rem;
            }
        }

        @media screen and (max-width: 411px) and (max-height: 731px) {

            /* Google Pixel */
            .box-container{
                margin-top: 42rem;
            }

        }
</style>


<div class="container" id="Activity" style=" text-align: center;margin-top: 2%;" >
{% if coordinator.registered_academic_year != current.AcademicYear or coordinator.registered_semester != current.Semester %}
{% if activities %}
<h4>Choose Your Social Services Activity</h4>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-social-activity' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your activity :</span>
    <select name="social_activity_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for activity in activities %}
        <option value="{{activity.name}}">{{activity.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}
{% endif %}

{% if coordinator.registered_academic_year == current.AcademicYear and coordinator.registered_semester == current.Semester and coordinator.activity == '' and activities %}
<h4>Choose Your Social Services Activity</h4>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-social-activity' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your activity :</span>
    <select name="social_activity_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for activity in activities %}
        <option value="{{activity.name}}">{{activity.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}

{% if coordinator.registered_academic_year == current.AcademicYear and coordinator.registered_semester == current.Semester and coordinator.activity != '' %}
<h1>Social Services Activity</h1>

    <p>Scan this QR code to mark your attendance for {{coordinator.activity}}</p>
    <img src="data:image/png;base64,{{activity_qr}}" alt="QR Code">

{% endif %}

{% if coordinator.registered_academic_year != current.AcademicYear or coordinator.registered_semester != current.Semester %}
{% if flagship_events %}
<h1>Choose Your Flagship Event</h1>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-flagship-event' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your flagship event :</span>
    <select name="flagship_event_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for flagship_event in flagship_events %}
        <option value="{{flagship_event.name}}">{{flagship_event.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}
{% endif %}


{% if coordinator.registered_academic_year == current.AcademicYear and coordinator.registered_semester == current.Semester and coordinator.flagshipEvent == '' and flagship_events %}
<h1>Choose Your Flagship Event</h1>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-flagship-event' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your flagship event :</span>
    <select name="flagship_event_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for flagship_event in flagship_events %}
        <option value="{{flagship_event.name}}">{{flagship_event.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}

{% if coordinator.registered_academic_year == current.AcademicYear and coordinator.registered_semester == current.Semester and coordinator.flagshipEvent != '' %}
<hr>
<h1>Flagship Event</h1>
    <p>Scan this QR code to mark your attendance for {{ coordinator.flagshipEvent }}</p>
    <img src="data:image/png;base64,{{flagshipEvent_qr}}" alt="QR Code">
{% endif %}
</div>
{% endblock ccontent %}