{% extends 'sdashboard.html' %}
{% block stitle %} {{secretary.activity}}'s Team {% endblock stitle %}
{% block scontent %}

<div class="content-section">
    <section class="contact">
        <div id="how" class="box-container" style="padding-top: 5%;">
            <div class="box">
                <i class="fas fa-phone"></i>
                <h3>Phone Number</h3>
                <a href="tel:8010897017">+91 80108 97017</a>
                <a href="tel:9168151957">+91 91681 51957</a>
            </div>

            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Office Address</h3>
                <a
                    href="https://www.google.com/maps/dir//Vishwakarma+Institute+of+Technology+(VIT),+VISHWAKARMA+INSTITUTE+OF+TECHNOLOGY+VIT,+Bibwewadi,+Pune,+Maharashtra+411037/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3bc2ea950f616219:0x321bdae2cea9f064?sa=X&ved=1t:57443&ictx=111">VISHWAKARMA
                    INSTITUTE OF TECHNOLOGY VIT, Upper Indira Nagar, Bibwewadi, Pune, Maharashtra
                    411037</a>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>Email Address</h3>
                <a href="mailto:vitswd@vit.edu">vitswd@vit.edu</a>
            </div>


        </div>
    </section>
</div>
{% endblock scontent %}