<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions Login Page</title>
</head>
<body>
    <form action="{% url 'verifyAdmin' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter admin email">
        <input type="password" name="code" placeholder="Enter secret code">
        <button type="submit">Login</button>
    </form>
</body>
</html>