button {
  background-color: #c9df8a;
  border-radius: 8%;
  padding: 1%;
}

form #attendanceForm input[type="text"],
.attendanceForm {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}

form#attendanceForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  box-shadow: none; /* Removed background shadow */
}

form#attendanceForm input[type="text"],
button.dashboard-btn,
button#capture-btn,
form#attendanceForm button[type="submit"],
#reader {
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

thead tr {
  background-color: #c9df8a;
  color: #ffffff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  text-transform: uppercase;
}

td {
  color: #555;
}

.hidden {
  display: none;
}
p {
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.box-container {
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

header#head {
  background-color: #234d20;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.dashboard-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-btn {
  display: block;
  width: 100%;
  background-color: #c9df8a;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.dashboard-btn:hover {
  background-color: #234d20;
}

.activity-select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.options-section {
  text-align: center;
}

.hidden {
  display: none;
}

.D-container {
  text-align: center;
}

.D-container h1 {
  margin: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

.wrapper {
  display: flex;
  text-align: center;
}

.sidebar {
  background-color: #c9df8a;
  color: white;
  position: fixed;
  top: 0;
  left: -250px;
  transition: all 0.3s ease;
  z-index: 1000;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  background-color: #ffffff;
  /* You can change this to #232d20 if you want a darker dashboard content area */
}

h1,
h2 {
  font-size: 2em;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  padding: 15px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #232d20;
  padding-left: 10px;
}

.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.open-sidebar-btn {
  background-color: #234d20;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.open-sidebar-btn:hover {
  background-color: #495057;
}

.content-section {
  margin-top: 20px;
}

.content-section h1,
.content-section h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.dashboard-item input,
.dashboard-item textarea {
  width: 100%;
  padding: 10px;
}

.dashboard-item textarea {
  resize: vertical;
}

.dashboard-item button {
  background-color: #c9df8a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.dashboard-item button:hover {
  background-color: #234d20;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 50%;
    left: -110%;
  }

  .sidebar ul {
    padding: 10px;
  }

  .sidebar ul li {
    text-align: center;
  }

  .content {
    margin-left: 0;
  }

  .open-sidebar-btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.D_content {
  text-align: center;
}

header#head {
  background-color: #234d20;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

#how {
  box-shadow: none;
}
.dashboard-item {
  margin-bottom: 20px;
}

.dashboard-item input,
.dashboard-item textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-top: 5px;
  padding-left: 5%;
}

.dashboard-item textarea {
  resize: vertical;
}

.dashboard-item button {
  background-color: #c9df8a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.dashboard-item button:hover {
  background-color: #234d20;
}
