{% extends 'cdashboard.html' %}
{% block ctitle %} My Activities {% endblock ctitle %}
{% block ccontent %}

{% if coordinator.activity == 'not_chosen' and activities %}
<h4>Choose Your Social Services Activity</h4>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-social-activity' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your activity :</span>
    <select name="social_activity_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for activity in activities %}
        <option value="{{activity.name}}">{{activity.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}

{% if coordinator.activity != 'not_chosen' %}
<h4>Social Services Activity</h4>
<div class="alert alert-success" role="success">
    Your Social Services Activity has been chosen as '{{coordinator.activity}}'
</div>
{% endif %}




{% if coordinator.flagshipEvent == 'not_chosen' and flagship_events %}
<hr>
<h4>Choose Your Flagship Event</h4>
<small style="color: red;">Select any one of the following only if you've been choosen as the OC of that activity by SW&D Committee.</small>
<form action="{% url 'choose-flagship-event' %}" method="POST">
    {% csrf_token %}
    <span style="color:black">Choose your flagship event :</span>
    <select name="flagship_event_chosen" id="event" required>
        <option value="Choose..." selected>Choose...</option>
        {% for flagship_event in flagship_events %}
        <option value="{{flagship_event.name}}">{{flagship_event.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn sub-btn btn-block mt-2 mb-2" value="Submit">
</form>
{% endif %}

{% if coordinator.flagshipEvent != 'not_chosen' %}
<hr>
<h4>Flagship Event</h4>
<div class="alert alert-success" role="success">
    Your Flagship Event has been chosen as '{{coordinator.flagshipEvent}}'
</div>
{% endif %}
{% endblock ccontent %}